@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*font-family: 'Kumbh Sans', sans-serif;*/

:root {
  /*   Neutral   */
  --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
  --softRed: hsl(14, 88%, 65%);

  --veryDarkGrayishBlue: hsl(237, 12%, 33%);
  --darkGrayishBlue: hsl(240, 6%, 50%);

  /*   Gradient   */
  --softViolet: hsl(273, 75%, 66%);
  --SoftBlue: hsl(240, 73%, 65%);

  /*   Dividers   */
  --lightGrayishBlue: hsl(240, 5%, 91%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 62.5%;
  background-image: linear-gradient(var(--softViolet), var(--SoftBlue));
  background-repeat: no-repeat;
}

body {
  font-size: 1.2rem;
  font-family: "Kumbh Sans", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#accordionCard {
  position: relative;
  background-color: white;
  background-image: url("images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: -490% 70%;
  background-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 9rem 7rem 0;
  border-radius: 2rem;
}

.image-section {
  overflow-x: hidden;
}

.womenOnComputer {
  position: relative;
  right: 7rem;
}

.mobile-womenOnComputer {
  display: none;
}

.box {
  position: absolute;
  top: 20rem;
  left: -9rem;
  overflow-x: visible;
}

.FAQ-Section {
  margin-left: 3rem;
}

.FAQ-Section > h1 {
  font-size: 3rem;
  padding-bottom: 3rem;
}

/*   Question Section   */

#question1 {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--lightGrayishBlue);
}

.Q1-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.Q1-text > h3 {
  color: var(--veryDarkGrayishBlue);
  font-weight: 400;
  margin-right: 6rem;
}

.Q1-text > h3:hover {
  color: var(--softRed);
}

.A1 {
  display: none;
  color: var(--darkGrayishBlue);
  max-width: 36rem;
  padding: 0.75rem 0 0 0;
  line-height: 1.7rem;
}

#question2 {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--lightGrayishBlue);
}

.Q2-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.Q2-text > h3 {
  color: var(--veryDarkGrayishBlue);
  font-weight: 400;
  margin-right: 6rem;
}

.Q2-text > h3:hover {
  color: var(--softRed);
}

.A2 {
  display: none;
  color: var(--darkGrayishBlue);
  max-width: 35rem;
  margin: 0.75rem 0 0 0;
  line-height: 1.7rem;
}

#question3 {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--lightGrayishBlue);
}

.Q3-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.Q3-text > h3 {
  color: var(--veryDarkGrayishBlue);
  font-weight: 400;
  margin-right: 6rem;
}

.Q3-text > h3:hover {
  color: var(--softRed);
}

.A3 {
  display: none;
  color: var(--darkGrayishBlue);
  max-width: 34rem;
  margin: 0.75rem 0 0 0;
  line-height: 1.7rem;
}

#question4 {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--lightGrayishBlue);
}

.Q4-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.Q4-text > h3 {
  color: var(--veryDarkGrayishBlue);
  font-weight: 400;
  margin-right: 6rem;
}

.Q4-text > h3:hover {
  color: var(--softRed);
}

.A4 {
  display: none;
  color: var(--darkGrayishBlue);
  max-width: 31rem;
  margin: 0.75rem 0 0 0;
  line-height: 1.7rem;
}

#question5 {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--lightGrayishBlue);
}

.Q5-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.Q5-text > h3 {
  color: var(--veryDarkGrayishBlue);
  font-weight: 400;
  margin-right: 6rem;
}

.Q5-text > h3:hover {
  color: var(--softRed);
}

.A5 {
  display: none;
  color: var(--darkGrayishBlue);
  max-width: 35rem;
  margin: 0.75rem 0 0 0;
  line-height: 1.7rem;
}

@media only screen and (max-width: 1100px) {
  #accordionCard {
    position: relative;
    background-image: url("images/bg-pattern-mobile.svg");
    background-position: top;
    background-size: 75%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    padding: 9rem 3rem 6rem 3rem;
  }

  .image-section {
    width: 100%;
    overflow-x: visible;
  }

  .womenOnComputer {
    display: none;
  }

  .mobile-womenOnComputer {
    display: block;
    position: absolute;
    top: -12rem;
    left: 4.35rem;
    width: 75%;
  }

  .box {
    display: none;
  }

  .FAQ-Section {
    margin: 0 auto;
  }

  .FAQ-Section > h1 {
    font-size: 3.5rem;
    padding: 6rem 0 4rem 0;
    text-align: center;
  }

  /*   Question Section   */

  .Q1-text > h3 {
    margin-right: 3rem;
  }

  .A1 {
    font-size: 1.3rem;
    max-width: 28rem;
  }

  .Q2-text > h3 {
    margin-right: 3rem;
  }

  .A2 {
    font-size: 1.3rem;
    max-width: 27rem;
  }

  .Q3-text > h3 {
    margin-right: 3rem;
  }

  .A3 {
    font-size: 1.3rem;
    max-width: 29rem;
  }

  .Q4-text > h3 {
    margin-right: 3rem;
  }

  .A4 {
    font-size: 1.3rem;
    max-width: 26rem;
  }

  .Q5-text > h3 {
    margin-right: 3rem;
  }

  .A5 {
    font-size: 1.3rem;
    max-width: 27rem;
  }
}
